<nav>
  <div class="avatar-item"></div>
  <ul>
    <li>Gordon Potter</li>
    <li>{{#link-to "about"}}About{{/link-to}}</li>
    <li>{{#link-to "resume"}}Resume{{/link-to}}</li>
    <li>{{#link-to "portfolio"}}Portfolio{{/link-to}}</li>
    <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
  </ul>
</nav>