.portfolio-preview-thumb {
  border-radius: 50%;
  border: 2px solid #afc8f3;
  /*box-shadow: 1px 4px 10px rgba(0, 0, 0, .5);*/
}

.portfolio-image {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, .5);
  margin-left: auto;
	margin-right: auto;
  margin-bottom: 1em;
	display: block;
}
