{{#x-grid as |g| }}
  {{#g.cell col=12}}
    <h2>About Me</h2>
  {{/g.cell}}
  {{#g.cell col=12}}
    My name is Gordon Potter. I am a software engineer, that specializes in web applications. I live in Seattle, Washington. 

    I am always interested in creative projects and work.
  {{/g.cell}}
{{/x-grid}}